html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: $primary-font-size;
  font-family: $font-family;
  color: $primary-text-color;
  background-color: $bgcolor-body;
}

body._lock {
  overflow: hidden;
}

p,
ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: $font-family-secondary;
  font-weight: 500;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
