.contact__links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 40px;
}

.contact__item {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.contact__link {
  display: block;
  font-family: $font-family;
  color: $primary-text-color;
  transition: 250ms color ease-in-out;

  .contact__item:hover &,
  .contact__item:focus & {
    color: $title-color;
  }
}

.contact__linkedin-icon,
.contact__article-icon {
  fill: $primary-text-color;
  transition: 250ms fill ease-in-out;

  .contact__item:hover &,
  .contact__item:focus & {
    fill: $title-color;
  }
}
