$container-width: 1200px;
$primary-text-color: #121212;
$title-color: #909090;
$primary-font-size: 18px;
$font-family: "Open Sans", sans-serif;
$font-family-secondary: "Montserrat", sans-serif;
$text-line-height: 1.8;
$spacing-desktop: 40px;
$spacing-mobile: 40px;
$bgcolor-body: #fbfbfb;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$animation-duration: 250ms;
$lightbox-btn-distance: 20%;
